@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: linear-gradient(0.25turn, #5d14ac, #bb119c, #fe2f69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.bg-img {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  /* background-position: ; */
}
.landBg {
  background-image: url("./assets/geo.jpg");
  background-size: cover;
}
.cardbg {
  background-image: url("./assets/primarybg.png");
  background-size: cover;
}

* {
  cursor: url(./assets/cursor.svg), auto !important;
  /* cursor: url(./assets/pointer.svg), auto !important; */
}
